# Configurações do Django
SECRET_KEY=dev-secret-key-nao-usar-em-producao-lacrei-saude-api-segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=lacrei_saude.settings.local

# Banco de Dados PostgreSQL
DB_NAME=lacrei_saude
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000
